# Dependencias
node_modules/

# Código compilado
dist/

# Variables de entorno
.env

# Registros
*.log
npm-debug.log*

# Cobertura de pruebas
coverage/

# Archivos del sistema
.DS_Store
Thumbs.db
Desktop.ini

# Editores
.vscode/
.idea/