NODE_ENV=development
HOST=127.0.0.1
PORT=3000

DATABASE_URL="mysql://USUARIO:CONTRASENA@127.0.0.1:3306/safa_twin"
SHADOW_DATABASE_URL="mysql://USUARIO:CONTRASENA@127.0.0.1:3306/safa_twin_shadow"

ADMIN_NAME="Nombre del administrador"
ADMIN_EMAIL="administrador@ejemplo.com"
ADMIN_PASSWORD="CONTRASENA_SEGURA_DE_AL_MENOS_12_CARACTERES"